/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,100,700,200);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}








div#splash{
  position: absolute;
  top: 0;
  width: 100%;
  background: url('../images/bg.jpg');
  background-size: cover;
  text-align: center;
  font-weight: 100; 
  font-family: 'Raleway', 'Source Sans Pro', 'Helvetica Neue', sans-serif;
}

div#header{
  margin-top: 0;
  opacity: 0;
}

div#header.active{
  -webkit-animation: 1s dropdown forwards;
  -moz-animation: 1s dropdown forwards;
}

div#splash #header h1{
  font-size: 6em;
}

div#splash #header h2{ font-size: 1.6em; }

div#content{
  width: 100%;
  position: absolute;
  padding: 10% 35%;
  font-size: 1.2em;
  box-sizing: border-box;
  line-height: 1.7em;
}

div#arrow{
  position: absolute;
  bottom: 10px;
  left: 48%;
  font-size: 3em;
  color: black;
  display: none;
}


@-webkit-keyframes dropdown{
  0% { padding-top: 110px; opacity: 0;}
  100% {padding-top: 130px; opacity: 1;}
}

@-moz-keyframes dropdown{
  0% { padding-top: 110px; opacity: 0;}
  100% {padding-top: 130px; opacity: 1;}
}


@media (max-width: 500px) {
  div#splash{ color: white; }
  div#splash h1{ font-size: 3em; }
}
