/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700|Open+Sans);


.links-icons img {
    height: 30px;
    margin-right: 10px;
}

a, a:visited {
    color: black;
    text-decoration: none !important;
}

a:hover {
    color: #3cff3c;
    text-decoration: none !important;
}

h1 {
    font-family: Lato, sans-serif;
    //color: #31F7E6;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-rendering: optimizeLegibility;
}

body {
    padding-top: 10px;
    padding-left: 200px;
    font-family: 'open sans', sans-serif;
}

.line {
    width: 90%;
    height: 4px;
    background: linear-gradient(to right, #31f7e6 0%,#3cff3c 100%);
}

h2 {
    margin-top: 100px;
    font-size: 5em;
    font-family: Lato;
    color: #31F7E6;
    font-weight: bold;
    letter-spacing: 4px;
}

h3 {
    display: block;
    width: 500px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 1em;
}

p.main {
    display: block;
    width: 500px;
    margin-top: 30px;
    font-size: .8em;
    line-height: 27px;
}

p.resume {
    width: 500px;
    margin-top: 30px;
    font-size: .8em;
}


